@model CASServer.Models.LocalPasswordModel

<p>
    你没有此站点的本地密码。请添加一个本地
    密码，这样，无需外部登录便可以登录了。
</p>

@using (this.Html.BeginForm("Manage", "Account"))
{
    @this.Html.AntiForgeryToken()
    @this.Html.ValidationSummary()

    <fieldset>
        <legend>“设置密码”表单</legend>
        <ol>
            <li>
                @this.Html.LabelFor(m => m.NewPassword)
                @this.Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @this.Html.LabelFor(m => m.ConfirmPassword)
                @this.Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="设置密码" />
    </fieldset>
}