@{
    ViewBag.Title = "主页";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                若要了解有关 ASP.NET MVC 的详细信息，请访问
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>。
                该页提供 <mark>视频、教程和示例</mark> 以帮助你充分利用 ASP.NET MVC。
                如果你对 ASP.NET MVC 有任何疑问，请访问
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">我们的论坛</a>。
            </p>
        </div>
    </section>


}

@section scripts
{
    @*<script type="text/javascript" src="@Dev.CasClient.Configuration.CasClientConfiguration.Config.CasServerUrl/cas/jssdk"></script>*@

    @Html.Raw(Dev.CasClient.Utils.ScriptBuilder.BuildSdkJsReference())

    @*<script type="text/javascript" src="http://castest.youxituan.com/Scripts/CAS.SDK.JS"></script>*@

    <script type="text/javascript">

        $(function () {
            CasSdk.Init(
                "@Dev.CasClient.Configuration.CasClientConfiguration.Config.LocalLoginPath",
                "@Dev.CasClient.Configuration.CasClientConfiguration.Config.LocalLogOffPath",
                '@Dev.CasClient.Configuration.CasClientConfiguration.Config.LocalCheckPath'
            );

            @Html.Raw(Dev.CasClient.Utils.ScriptBuilder.BuildCasInit())

            $('.one h5:first').click(function () {
                CasSdk.Login(function () {
                    window.alert("全局登录成功，这里写上任意的回调方法就可以,如更新你的界面或其它操作等");
                }, true);
            });

            $('.one h5:last').click(function () {
                CasSdk.Login(function () {
                    window.alert("全局登录成功，这里写上任意的回调方法就可以,如更新你的界面或其它操作等");
                }, false);
            });
            $('.two').click(function () {
                CasSdk.locallogoff(function () {
                    window.alert('本地退出，未退出CasServer');
                });
            });


            $('.three').click(function () {
                CasSdk.LogOff(function () {
                    window.alert('全局退出,这里写上任意的回调方法就可以,如更新你的界面或其它操作等');
                });
            });


            $('.four h5').click(function () {
                CasSdk.ExternalLoginStr(function (d) {
                    //window.alert(d);
                    $('.four #outlogin').html(d);
                });
            });

            $('.five').click(function () {
                CasSdk.CheckLocalState(function (d) {
                    if (d == null) {
                        window.alert("本地未登录的用户，这里写上任意的回调方法就可以,如更新你的界面或其它操作等");
                    } else {
                        window.alert(d + "已经在本地登录成功，这里写上任意的回调方法就可以,如更新你的界面或其它操作等");
                    }
                });
            });
            $('.six').click(function () {
                CasSdk.__newticket(function (d) {
                    if (d == null) {
                        window.alert("CAS未登录的用户，未取得新ticket");
                    } else {
                        window.alert(d + "取得新Ticket，");
                    }
                });
            });
            //CasSdk.State();
            $('.seven').click(function () {
                CasSdk.SyncState(function (d) {
                    window.alert("登录状态回调");
                }, function () {
                    window.alert("退出状态回调");
                });
            });
        });

    </script>


    @*<script src='@(Dev.CasClient.Configuration.CasClientConfiguration.Config.CasServerUrl)/api/user/'></script>*@
}
<h3>下面是我们的建议:</h3>

<ol class="round">
    <li class="one">
        <h5>弹出式登录(切换用户,无论用户是否已经登录，一直弹出登录框)</h5>
        <br />
        <br />
        <h5>弹出式登录(不切换用户，如果用户已经登录，不再弹出登录框)</h5>
    </li>

    <li class="two">
        <h5>JS 本地退出</h5>

    </li>

    <li class="three">
        <h5>JS 全局退出</h5>
    </li>

    <li class="four">
        <h5>外部登录脚本</h5>

        <div id="outlogin"></div>

    </li>


    <li class="five">
        <h5>检测本地</h5>
    </li>

    <li class="six">
        <h5>取得新Ticket</h5>
    </li>

    <li class="seven">
        <h5>同步服务器与客户端状态</h5>
    </li>
</ol>
