@{
    ViewBag.Title = "主页";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                若要了解有关 ASP.NET MVC 的详细信息，请访问
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>。
                该页提供 <mark>视频、教程和示例</mark> 以帮助你充分利用 ASP.NET MVC。
                如果你对 ASP.NET MVC 有任何疑问，请访问
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">我们的论坛</a>。
            </p>
        </div>
    </section>


}

@section scripts
{
    @*<script type="text/javascript" src="@Dev.CasClient.Configuration.CasClientConfiguration.Config.CasServerUrl/cas/jssdk"></script>*@

    @Html.Raw(Dev.CasClient.Utils.ScriptBuilder.BuildSdkJsReference())

    <script type="text/javascript">

        $(function () {
            @* CasSdk.Init(
                @(Dev.CasClient.User.UserInfo.IsAuthenticated ? "true" : "false"),
                "@(Dev.CasClient.User.UserInfo.IsAuthenticated ? Dev.CasClient.User.UserInfo.GetCurrentUserName() : "")",
                "@Dev.CasClient.Configuration.CasClientConfiguration.Config.LocalLoginPath",
                "@Dev.CasClient.Configuration.CasClientConfiguration.Config.LocalLogOffPath",
                '@Dev.CasClient.Configuration.CasClientConfiguration.Config.LocalLogOffPath',
                true
            );*@
            
            @Html.Raw(Dev.CasClient.Utils.ScriptBuilder.BuildCasInit())

            $('.one').click(function () {
                CasSdk.Login(function () {
                    window.alert("全局登录成功，这里写上任意的回调方法就可以");
                });
            });
            $('.two').click(function () {
                CasSdk.locallogoff(function () {
                    window.alert('本地退出，未退出CasServer');
                });
            });


            $('.three').click(function () {
                CasSdk.LogOff(function () {
                    window.alert('全局退出,这里写上任意的回调方法就可以');
                });
            });


            //CasSdk.State();

        });

    </script>


    @*<script src='@(Dev.CasClient.Configuration.CasClientConfiguration.Config.CasServerUrl)/api/user/'></script>*@
}
<h3>下面是我们的建议:</h3>

<ol class="round">
    <li class="one">
        <h5>弹出式登录</h5>
    </li>

    <li class="two">
        <h5>JS 本地退出</h5>

    </li>

    <li class="three">
        <h5>JS 全局退出</h5>

    </li>
</ol>
